<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<h1>View Feeds</h1>
<table>
    <tr>
        <th>feed_id</th>
        <th>name</th>
        <th>type</th>
        <th>notes</th>
    </tr>
    {{#each feeds}}
    <tr>
        <td>{{this.feed_id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.type}}</td>
        <td>{{this.notes}}</td>
    </tr>
    {{/each}}
</table>