<form>
    <label for="feeding_log_id">Feeding Log ID:</label><br>
    <input type="text" name="feeding_id" placeholder="feeding_id"><br>
    <label for="bird_id">Bird ID:</label><br>
    <input type="text" name="bird_id" placeholder="bird_id"><br>
    <label for="feed_id">Feed ID:</label><br>
    <input type="text" name="feed_id" placeholder="feed_id"><br>
    <label for="amount">Amount:</label><br>
    <input type="text" name="amount" placeholder="amount"><br>
    <label for="date_time">Date Time:</label><br>
    <input type="datetime-local" name="date_time" placeholder="date_time"><br>

  <input type="submit" value="Submit">
</form>