<form>
    <label for="owner_id">Owner ID:</label><br>
    <input type="text" name="owner_id" placeholder="owner_id"><br>
    <label for="name">Name:</label><br>
    <input type="text" name="name" placeholder="name"><br>
    <label for="address">Address:</label><br>
    <input type="text" name="address" placeholder="address"><br>
    <label for="phone">Phone:</label><br>
    <input type="text" name="phone" placeholder="phone"><br>
    <label for="email">Email:</label><br>
    <input type="text" name="email" placeholder="email"><br><br>
  <input type="submit" value="Submit">
</form>