<form>
    <label for="species_id" >Species ID:</label><br>
    <input type="text" name="species_id" placeholder="species_id"><br>
    <label for="common_name">Common Name:</label><br>
    <input type="text" name="common_name" placeholder="common_name"><br>
    <label for="scientific_name">Scientific Name:</label><br>
    <input type="text" name="scientific_name" placeholder="scientific_name"><br>
    <label for="diet_type">Diet Type:</label><br>
    <input type="text" name="diet_type" placeholder="diet_type"><br><br>
  <input type="submit" value="Submit">
</form>